.CFUserTextEncoding
.DLMLogFile.txt
.DLMSave.xml
.DLMSave_back.xml
.DLMTempFile.txt
.DS_Store
.Extensis/
.Setting.ini
.adobe/
.bash_history
.bi_li3
.cache/
.cups/
.dbshell
.dropbox/
.eMusicVersion.txt
.gem/
.heroku/
.irb-history
.lesshst
.mysql_history
.netrc
.oh-my-zsh/
.pgpass
.pow
.psql_history
.rvm/
.ssh/
.vim/
.viminfo
.zcompdump
.zsh-update
.zsh_history
Applications (Parallels)/
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
logfile
